.main-content{
    margin: 15px auto;
}

.exchange-btn{
    margin: 20px;
    height: 40px;
    width: 100px;
}

.oneCost-label{
    float: center;
    margin: 30px;
}

.upper-row{
    display: flex;
    justify-content: center;
}

.left-inputs,
.right-inputs{
    margin: 25px;
}

.swap-div{
    margin: 25px;
}

.lower-row{
    display: flex;
    justify-content: center;
}   

.swap-btn{
    padding: 0;
    height: 36px;
    width:  47px;
    background-image: url(swap_btn.png);
}